<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .dashboard-container {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
    }
    iframe {
      width: 100%;
      height: 90vh; /* Sesuaikan tinggi sesuai kebutuhan */
      border: none;
    }
  </style>
</head>
<body>
  <div class="dashboard-container">
    <h2>Dashboard Monitoring Mutu</h2>
    <p>Unit Quality Control PT. Semen Tonasa</p>
    <iframe title="monitoring online_pbi" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNzJlNjE3OTMtMzAxNi00NGFhLWE4M2MtNWYyMDE3YzE0NDk0IiwidCI6IjUzYjkyMTJhLTAyMDEtNGZlMS04OTVkLTg1NWRjMjE2MDJjYyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    <br>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>
